@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Cormorant+Garamond:wght@300&family=Oswald&family=Rethink+Sans&family=Righteous&family=Sen&family=Sevillana&family=Whisper&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-extendfont7;
    }
    overflowAuto {
        @apply bg-slate-100;
    }
}

@layer components {
    .hoverEffect {
        @apply after:block after:w-full after:border-b-2 after:border-second after:scale-0 after:ease-in-out after:duration-300 hover:after:scale-100;
    }
}

/* Custom scrollbar styling for .overflowAuto class */

/* For WebKit browsers (Chrome, Safari, Edge) */
.overflowAuto::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

.overflowAuto::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.overflowAuto::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

.overflowAuto::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb when hovered */
}

/* For Firefox */
.overflowAuto {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll on the overflowAuto */
}



::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar (for horizontal scrollbars) */
}

::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #575757; /* Color of the scrollbar thumb when hovered */
}

/* For Firefox */
.overflowAuto {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}



.ant-table-column-title,
.ant-table-cell {
    text-align: center;
}


.parent:hover .child {
    transform: rotate(180deg);
}
.dropown {
    top: -25rem;
    opacity: 0;
    transition: ease-in-out 0.5s;
}
.parent:hover .dropown {
    display: flex;
    top: 1.7rem;
    opacity: 1;
}
